header{
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  padding: 20px;
  color: black;
  width:max-content;
  height: 100%;
}

.logo {
  max-width: 120px;
  margin-right: 20px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
}

/* nav */
#header-div-two{
  display: flex;
  width: max-content;
  position: relative;
  top: -100px;
  margin-left: auto;
 
}
#nav-ul{
  display: flex;
}
#nav-ul li{
  list-style: none;
  font-size: large;
  padding: 8px;
  margin: 10px;
}
#nav-ul li a{
  text-decoration: none;
  color: black;
}
#nav-ul li a:hover{
  color: blue;
}
#nav-btn{
 
  display: none;
  
}
#close-btn{
  display: none;
}
#div-three{
  height: 50px;
  background-color: lightblue;
  text-align: center;
  overflow: hidden;
  
}
#running-h3{
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  flex-direction: row;
  position: relative;
  z-index:1;
  right: -100%;
  animation: scroll-left 30s linear infinite;
  font-size: 19px;
 
}#running-h3:hover{
  animation-play-state:paused ;

}
@keyframes scroll-left {
  0%{
    right: -100%;
  }
  100%{
    right: 100%;
  }
}

@media (max-width:768px){
  .container{
    width: 88%;
    display: flex;
  }
  #nav-btn{
    display: block;
    margin-left: auto;
  }
  .logo {
    max-width: 60px;
    margin-right: 10px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .subtitle {
    font-size: 9px;
    font-weight: bold;
  }
   

  #header-div-two{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: none;
    background-color: rgb(13, 7, 20);
    height: 300px;

    
    
  }
  #nav-ul-div{
   display: flex;
   flex-direction: column;
   margin: 10px;
   
    
 
  }
  #close-btn{
    height: 20px;
    margin-left: auto;
    display: flex;
    
    
  }
  #nav-ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    padding: 0;
  }
  
  #nav-ul li{
    background-color: rgb(83, 83, 181);
    margin: auto;
    width: 80%;
    font-size: 20px;

  }
  #nav-ul a{
    text-decoration: none;
    color: black;
    font-size: 20px;

  }
  #nav-ul li:hover{
    background-color: antiquewhite;
  }
  #div-three{
    border: 1px solid;
    height: 25px;
  }
  #running-h3{
    font-size: 10px;
    display: flex;
    flex-direction: row;
  }


}
header{
 
  height: max-content;
  background-image: url('images/header-background.avif');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: 100%;
  box-sizing: border-box;
  box-shadow: inset;
}
#msg{
  background-color: #241d2e;
  color: blanchedalmond;
  text-align: center;
}
#section-one{
  background-image: url('images/section-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow:0px 1px 1px black;
 
 
}
#section-one-heading{
font-size: xx-large;
color:black;
margin-bottom: 10px;
text-shadow: 2px 2px 2px rgb(117, 37, 37);


}
#section-one-span{
margin:0;
font-size: larger;
color:orangered;
text-shadow: 1px 1px 1px black;

}
#section-one-btn{
margin-top: 10px;
font-size: 15px;
background-color:rgb(184, 184, 35);
border-radius: 20px;
height: max-content;
padding: 15px 25px;
box-shadow: 2px 2px 2px black;
}
#section-one-btn:hover{
background-color: rgb(202, 124, 69);
transform: scale3d(1.25,1.25,1)

}
.section-one-items{
margin: auto;
justify-items: auto;


}
#section-2{
  display: none;
}
#amoracosta{
  width: 100%;
  height: 550px;
}
#section-3{
  width: 100%;
  display: none;
  
}
#section-3 img{
  width: 80%;
  height: 600px;
  margin: auto;
}
@media (max-width:768px) {
  #section-one{
    height: 200px;
  }
  #section-2{
    display: none;
  }
  #amoracosta{
    width: 100%;
    height: 180px;
  }
  #section-3{
    width: 100%;
    display: none;
    
  }
  #section-3 img{
    width: 80%;
    height: 200px;
    margin: auto;
  }
}
#section-div-welcome{
border: 1px;
text-align: center;
display: flex;
flex-direction: column;
margin: 0px;
background-color: #f9f9f9;
}
#welcome-heading{
font-size: 30px;
color:5c3d2e;
text-decoration: underline;
margin:auto;
padding: 25px;
}
#welcome-heading2{
color: 5c3d2e;
font-size: 25px;
margin: 15px;
}
#welcome-span{
max-width: 900px;
margin: 0 auto;
font-size: 18px;
line-height: 1.7;
color: #3a2b2b;
text-align: center;
font-family: 'Segoe UI', sans-serif;
padding: 20px;

}
#what-to-offer{
display:flex;
flex-direction: row;

}
.what-to-offer-li{
list-style-type: none;
font-size: 20px;
color:rgb(61, 47, 28);
padding: 10px;
}
.what-to-offer-div{
height: 250px;
margin: 15px;
overflow: scroll;
width: 300px;
border-radius: 10px;
background-color: rgb(158, 226, 160);


}
.what-to-offer-div::-webkit-scrollbar{
  display: none;
}
#one{

margin: auto;

width:100%;
}
@media (max-width:768px) {


#what-to-offer{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  margin:auto;
  padding: 1px;
}
.what-to-offer-li{
  list-style-type: none;
  font-size: 20px;
  color:rgb(61, 47, 28);
  
}
.what-to-offer-div{
  height: 150px;
  margin: 10px;
  padding: 1px;
  width: 150px;
  border-radius: 10px;
  overflow: scroll;
  
  
}
}


/* Job Vacancy */

#vacancy-div{
display: block;
text-align: center;
background-color: rgb(241, 235, 235);
}
#vacancy-h3{
  color: brown;
  font-size: 40px;
}
#vacancy-div2{
 
  display :flex ;
  flex-direction: column;
  
}
#vacancy-skilled-h3{
  color: brown;
  font-size: 30px;

}
#vacancy-skilled{
 
  display: flex;
  margin: auto;
  width: 100%;
}
#vacancy-skilled-img{
  border: none;
  border-radius: 30px;
  height: 350px;
  margin: auto;
  width: 450px;
 
}
#vacancy-skilled-div-1{


  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0%;
  width: 60%;
}
.vacancy-skilled-2{

  padding: 10px;
  text-align: left;
  width: 100%;
  box-shadow: 3px 3px 3px black;
  display: flex;
  flex-direction: column;
  
 
}#vacancy-unskilled{
  
  display: flex;
  
}
#vacancy-unskilled-h3{
  color: brown;
  font-size: 30px;
  margin: 80px;

}
#vacancy-unskilled-div-1{

  display: flex;
  flex-direction: column;
  
  width:60% ;

}
#vacancy-unskilled-img{
  margin: auto;
  height: 350px;
  width: 490px;
  border-radius: 20px ;
}
.vacancy-unskilled-div-2{
 text-align: left;
  margin: 10px;
  box-shadow: 3px 3px 3px black;
  padding: 10px;
}
.job-contact-btn{
  margin-left: auto;
  background-color: rgb(19, 175, 89);
  border-radius: 10px;
  
}
.job-contact-btn:hover{
  background-color: rgb(117, 117, 182);
}
.job-contact-btn a{
  color: black;
  text-decoration: none;
}
@media (max-width:768px) {
  
 
  #vacancy-skilled,#vacancy-unskilled{
    display: flex;
    flex-direction: column;
  }
  #vacancy-skilled-img{
    height: 280px;
    width: 330px;
    margin: 10px;
  }
  #vacancy-skilled-div-1{
    width: 100%;
    display: flex;
    flex-direction:column;
  }
  .vacancy-skilled-2{
    width: 90%;
    margin: auto;
    height: 10%;
  }
  #vacancy-unskilled-div-1{
    width: 100%;
  }
  #vacancy-unskilled-img{
    height: 250px;
    width: 330px;
    margin: 10px;
  }
  

}



/* Sucess Stories */

#sucess-div{
  background-color: beige;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px white;
  
  
 

}
#sucess-group-1{
  display: flex;
 
  
  width: 100%;
  height: 100%;
}
#sucess-group-2{

  display: none;
  margin: auto;
  
  width: 100%;
  height: 100%;
}

#sucess-group-3{
  display: none;
  margin: auto;
 
  width: 100%;
  height: 100%;
}

.sucess-story-div{
 background-image: url('images/bg1.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 400px;
 margin: 40px;
 border-radius: 15px;  
}
#sucess-h3{
font-size: 30px;
color: brown;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sucess-name{
font-size: 25px;

}
@media (max-width: 768px) {
  #sucess-group-1,
  #sucess-group-2,
  #sucess-group-3 {
    width: 85%;
    height: 600px;
    margin: 20px auto;
    padding: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  .sucess-story-div{
    background-image: url('images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 300px;
    margin: 10px;
    overflow: scroll;
   
    

    }
    .sucess-story-div::-webkit-scrollbar{
      display:none;
    }
}
/* about-us */

#about-us-div{
background-color: white;
display: flex;
flex-direction: column;
margin: auto;
text-align: center;
height: 500px;
}
#about-us-h2{
font-size: 40px;
color: brown;

}
#about-us-div2{

display: grid;
height: 90%;
grid-template-columns: repeat(2,1fr);

margin: auto;
}
#about-us-vision{
box-shadow: 2px 2px 2px rgb(0, 0, 0);
margin: auto;
justify-content: center;

width: 80%;
height: 100%;
background-color: rgba(120, 110, 152, 0.438);
border-radius: 10px;

}
#vision-h3{
font-size: 30px;
color: brown;
margin-bottom: auto;
}
#vision-p{
  margin: 60px;
  font-size: 20px;
}
#about-us-mission{
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin: auto;
  justify-content: center;
  overflow: scroll;
  
  width: 80%;
  height: 100%;
  background-color: rgba(120, 110, 152, 0.438);
  border-radius: 10px;

}
#about-us-mission::-webkit-scrollbar{
  display: none;
}

#mission-h3{
  font-size: 30px;
  color: brown;

}
#mission-p{
  font-size: 20px;
}
@media (max-width:768px){
  #about-us-div{
    height: 900px;
  }
 #about-us-div2{
  display: flex;
  flex-direction: column;
  height: 95%;
 }
 #about-us-vision{
  height: 350px;
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 #vision-h3{
  margin: auto;
 }
 #vision-p{
  margin:auto ;
 }
 #about-us-mission{
  width: 100%;
  height: 400px;
 }
}

/* FAQ */
#FAQ{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 227, 227);
  padding: 10px;
}
#FAQ h3{
  font-size: 30px;
  color: brown;
}
#faq-div1{
  text-align: left;
  margin: auto; 
  
}
.faq-item{
  margin: 40px;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px brown;
  
}
.faq-div-input
{
  margin:auto;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px blue;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
}
#faq-div-btn{
  height: 40px;
  width: 60px;
  background-color: burlywood;
  border-radius: 15px;
  margin: auto;
}
#faq-div-btn:hover{
  background-color: cadetblue;
}
#faq-input{
  height: 70px;
  width: 80%;
  margin: auto;

}
@media (max-width:768px){
  .faq-item{
    margin: auto;
    width: 80%;
  }
}

/* footer*/

#footer{
text-align: center;
background-color: #241d2e;
height: 640px;

}
#contact-us{
color: aquamarine;
font-size: 40px;

padding: 10px;
}
#address-h4{
color:aquamarine;
}
#footer-div2{
display: grid;
grid-template-columns: repeat(3,1fr);


}#footer-address{
margin-right: auto;

margin-left: 25px;
}
#address-h4{
font-size: 30px;
text-decoration: underline;
}
.address-h5{
  color: white;
}
#address-p{
color: aliceblue;
font-size: larger;
}
#footer-location{
margin-right: auto;

}
#location-h4{
color:aquamarine;
font-size: 30px;
text-decoration: underline;
}
#footer-contact-form {
 
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
  width: 400px;
}

#footer-contact-form h4 {
  margin-top: 0;
  color:rgb(0, 0, 0);
  font-size: 30px;
  text-decoration: underline;
}
.contact-input-divs{
  display: flex;
}

.contact-label {
  font-size: 14px;
  margin-top: 10px;
  margin-left: auto;
  display: block;
}

.contact-inputs {
  width: 70%;
  padding: 6px 10px;
  margin-left: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}


@media (max-width:1000px){
  #footer-div2{
    display: flex;
    flex-direction: column;
  }
  #footer{
    
    height: 1525px;
  }
  #footer-address{
    margin: auto;
  }
  #footer-location{
    margin: auto;
  }
  #footer-contact-form{
    width: 300px;
    margin :auto;
    margin-top: 10px;
  }

}


/* pop-up*/

#pop-up-form-div{
  display: none;
  flex-direction: column;
  position: fixed;
  top: 20%;
  right: 20%;
  z-index: 999;
  width: 800px;
  height: 450px;
  border-radius: 20px;
  background-color: #241d2e;
 
  
}
#pop-close-btn{
  width: 25px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
  
}
#pop-inner-div{
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border-radius: 20px;
}

#pop-img{
  height: 340px;
  margin: 10px;
  border-radius: 20px;
}
#pop-div2{
  display: flex;
  flex-direction: column;
 background-color: rgb(189, 189, 230);
  border-radius: 20px;
  text-align: center;
  height: 91%;
  width: 400px;
  margin: 10px;

}
#pop-div2 h2{
  text-decoration: underline;
}
.pop-cont{
  margin: 10px;
  height: 35px;
  display: flex;
  flex-direction: row;

}
.pop-label{
  margin-right: auto;
  margin-top: 10px;
}
.pop-input{
  width: 230px;
}
@media (max-width:768px){
  #pop-up-form-div{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10px;
    right: 40px;
    z-index: 999;
    width: 300px;
    height: 650px;
    border-radius: 20px;
    background-color: #241d2e;
  }
  #pop-inner-div{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-radius: 20px;
  }
  #pop-img{
    width: 250px;
    height: 200px;

    margin: 10px;
    border-radius: 20px;
  }
  #pop-div2{
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 189, 230);
    border-radius: 20px;
    text-align: center;
    height: 100%;
    width: 280px;
    margin: auto;
  }
  .pop-cont{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
  }#pop-submit{
    background-color: brown;
    margin-top: 20px;
  }
  .pop-input{
    width: 230px;
    height: 30px;
  }

}