{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amora Costa</title>
    <script src="https://kit.fontawesome.com/66348bc61a.js" crossorigin="anonymous"></script>
    <link href='{%static "index.css" %}' rel="stylesheet" />
</head>
<body>
    <header >
        <div class="container">
            <img class="logo" src='{%static "images/Picture1.jpg" %}' alt="Logo">
            <div class="text-content">
              <div class="title">AMORA COSTA</div>
              <div class="subtitle">Education and Consultant</div>
            </div>
            <button id="nav-btn" onclick="navBtnClicked()"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div id="header-div-two">
                <div id="nav-ul-div">
                    <button id="close-btn" onclick="navClose()"><i class="fa-solid fa-xmark"></i></button>
                    <ul id="nav-ul">
                        <li> <a href="#container">Home</a></li>
                        <li><a href="#footer">Contact</a></li>
                        <li><a href="#about-us-div">About us</a></li>
                        <li><a href="#vacancy-div">Oppoetunities</a></li>
                        <li><a>FAQ</a></li>
                    </ul>
                </div>

        </div>
   

       
    </header>
    <div id="div-three"><h3 id="running-h3">Are you planing to get a job in abroad. Don't wast your precious time !. Get guidence from our Executives &nbsp; <a href="#footer" id="runnig-contact" >Contact</a></h3></div>

    <section>

        <div id="section-one">
            <h3 id="section-one-heading" class="section-one-items">Looking for a job abroad ?</h3>
            <span id="section-one-span" class="section-one-items">Don't worry you are in a correct place to execute your plans</span>
            <button id="section-one-btn" class="section-one-items" onclick="openPop()">Enquiry</button>
        </div>
        <div id="section-2">
            <img src='{%static "images/background2.jpg" %}' alt="amora costa" id="amoracosta">
        </div>
        <div id="section-3">
            <img src='{%static "images/amora costa.jpg" %}' alt="amora costa logo">
        </div>

        <div id="section-div-welcome">
            <h2 id="welcome-heading">Welcome to AMORA COSTA Education and Consultanct</h2>
            <h4 id="welcome-heading2">The gate way for your global opportunities</h4>
            <span id="welcome-span">At AmORA COSTA, we believe that every individual deserves the chance to grow, succeed, and secure a better future — no matter their background or skill level. As a trusted international job consultancy, we specialize in connecting both skilled professionals and unskilled workers with genuine and rewarding job opportunities abroad.

                Whether you're a technician, nurse, IT expert, hotel staff, factory worker, driver, or laborer, our expert team is here to guide you through every step — from job matching and visa processing to travel arrangements and post-placement support.</span>
            <div id="one">
                <h3 id="welcome-heading3">WHAT WE OFFER</h3>
                <ul id="what-to-offer">
                    <div class="what-to-offer-div"><li class="what-to-offer-li">Global Job Placement for Skilled & Unskilled Roles</li>
                    <button class="what-to-btn"></button>
                    </div>

                    <div class="what-to-offer-div"><li class="what-to-offer-li">Verified Employers Across Middle East, Europe, and Asia</li>
                        <button class="what-to-btn"></button></div>
                    
                    <div class="what-to-offer-div"><li class="what-to-offer-li">Personalized Career Guidance</li>
                        <button class="what-to-btn"></button></div>
                    
                    <div class="what-to-offer-div"><li class="what-to-offer-li">Hassle-Free Visa & Documentation Support</li>
                        <button class="what-to-btn"></button></div>
                    
                    <div class="what-to-offer-div"><li class="what-to-offer-li"> Affordable & Transparent Services</li>
                        <button class="what-to-btn"></button></div>
                </ul>
            </div>
        </div>
        <!-- About=us -->

        <div id="about-us-div">
            <h2 id="about-us-h2">About us</h2>
            <div id="about-us-div2">
                <div id="about-us-vision">
                    <h3 id="vision-h3">Vision</h3>
                    <p id="vision-p">To become a trusted global gateway for individuals seeking meaningful career and educational opportunities abroad, empowering lives through ethical guidance, quality services, and life-changing international experiences.</p>
                </div>
                <div id="about-us-mission">
                    <h3 id="mission-h3">Mission</h3>
                    <p id="mission-p">We are committed to guiding candidates through every step of their international journey with transparency, integrity, and personalized support. By collaborating with trusted global partners, we aim to ensure ethical recruitment practices, enhance employability through training and counseling, and create life-changing pathways that lead to personal and professional growth. Our focus is on building lasting relationships and uplifting communities through meaningful international engagement.

                    </p>
                </div>
            </div>
        </div>

        <div id="vacancy-div">
            <h3 id="vacancy-h3">Job Vacancies</h3>
            <div id="vacancy-div2">
                <h3 id="vacancy-skilled-h3"> Skilled Jobs</h3>

                <div id="vacancy-skilled" >
                    <img src='{%static "images/skilled.jpg" %}' alt=" Skilled Jobs" id="vacancy-skilled-img">
                   
                    <div id="vacancy-skilled-div-1">

                        {% for skilled in skilleds  %}
                        <div class="vacancy-skilled-2">
                            <h4>{{skilled.role}}</h4>
                            <h5>{{skilled.country}}</h5>
                            <p>{{skilled.desc}}</p>
                        </div>
                        {% endfor %}
                        
                       
                     </div>
                </div>
                <hr>    
                <h3 id="vacancy-unskilled-h3"> Unskilled-Jobs</h3>

                <div id="vacancy-unskilled">
                    <div id="vacancy-unskilled-div-1">
                        {% for job in unskilleds %}
                            <div class="vacancy-unskilled-div-2">
                                <h4>{{job.role}}</h4>
                                <h5>{{job.country}}</h5>
                                <p>{{job.desc}}</p>
        
                            </div>
                        {% endfor %}
                     
                    </div>
                    <img src='{%static "images/unskilled.avif" %}' alt="Unskilled Jobs" id="vacancy-unskilled-img">

                </div>
            
            </div>
        </div>

        <div id="sucess-div">
            <h3 id="sucess-h3">Sucess Stories</h3>
            <div id="sucess-div1">  

                <div id="sucess-group-1" class="sucess-groups" >
                    <div class="sucess-story-div" >
                        <h5 class="sucess-name">name</h5>
                        <p class="sucess-story">Story</p>
                    </div>
                    <div class="sucess-story-div">
                        <h5 class="sucess-name">name</h5>
                        <p class="sucess-story">Story</p>
                    </div>
                </div>
                
                <div id="sucess-group-2" class="sucess-groups" >
                    <div class="sucess-story-div">
                        <h5 class="sucess-name">name2</h5>
                        <p class="sucess-story">Story</p>
                    </div>
                    <div class="sucess-story-div">
                        <h5 class="sucess-name">name 2</h5>
                        <p class="sucess-story">Story</p>
                    </div>
                </div>

                <div id="sucess-group-3" class="sucess-groups" >
                    <div class="sucess-story-div">
                        <h5 class="sucess-name">name3</h5>
                        <p class="sucess-story">Story</p>
                    </div>
                    <div class="sucess-story-div">
                        <h5 class="sucess-name ">name 3</h5>
                        <p class="sucess-story">Story</p>
                    </div>
    
                </div>
               
            </div>
        </div>


        
    </div > 


    <div id="pop-up-form-div">
        <button id="pop-close-btn" onclick='closePop()'><i class="fa-solid fa-xmark"></i></button>
        <div id="pop-inner-div">
            <div id="pop-div1">
                <img id="pop-img" src='{%static "images/amora costa.jpg" %}' alt="">
            </div >
        <div id="pop-div2">
            <h2>Fill the Form</h2>

            <form action="register" method="post" id='pop-form'>{% csrf_token %}
                
                <div class="pop-cont">
                    <label for="pop-name" class="pop-label">Full Name</label>
                    <input type="text" name="name" placeholder="Full Name" id="pop-name" class="pop-input">

                </div>
                <div class="pop-cont">
                    <label for="pop-number" class="pop-label" >Mobile Number</label>
                    <input type="text" name="mobile_number" id="pop-number" class="pop-input" placeholder="Mobile Number">
                </div>
                <div class="pop-cont">
                    <label for="pop-email" class="pop-label">Email</label>
                    <input type="text" name="email" id="pop-email" class="pop-input" placeholder="Emal">

                </div>
                <div class="pop-cont">
                    <label for="pop-qualification" class="pop-label">Qualification</label>
                    <input type="text" name="Qualification" id="pop-qualification" class="pop-input" placeholder="Qualification">
                </div>
                <div class="pop-cont">
                    <label for="pop-where" class="pop-label">Where are you from</label>
                    <input type="text" name="where" id="pop-where" class="pop-input" placeholder="Where are you from">
                </div>
                <input type="submit" id="pop-submit">
            </form>
            <div id='responseMessage'>
                {% if errors %}
                
                {% endif %}    <ul style="color:red;">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            
                {% if success %}
                    <p style="color:green;">{{ success }}</p>
                {% endif %}
            
            </div>
        </div>
       

        </div>
        
    </div>





    <footer id="footer">
        <h2 id="contact-us">Contact US</h2>
       
        <div id="footer-div2">
            <div id="footer-address">
                <h4 id="address-h4">Address</h4>
                <p id="address-p">Amora Costa Education and Consultanct<br>
                   2nd Floor V.V Mohala<br>
                    kalidasa Rd, Mysore,<br>
                    Karnataka,570001 
                </p>
                <h5><i class="fa-solid fa-envelope"></i> amoracosta9999@gmail.com</h5>
                <h5><i class="fa-solid fa-phone"></i> +91 0000000000</h5>
            </div>
            <div id="footer-location">
                <h4 id="location-h4">Location</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3897.8837995939734!2d76.62508121080933!3d12.323607328703034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7bbf0b19da45%3A0x3294ed4fa48fde57!2sAmora%20Costa%20Education%20and%20consultant!5e0!3m2!1sen!2sin!4v1749379018748!5m2!1sen!2sin" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
                <div id="footer-contact-form">
                    <h4> Fill the form for Callback</h4>
    
                    <form action='register' method='post'>
                        {% csrf_token %}
                        <div id="footer-contact-form-2">
                            <div class="contact-input-divs">
                                <label for="footer-form-name" class="contact-label">Full Name</label>
                                <input placeholder="Full Name" name='name' type="text" id="footer-form-name" class="contact-inputs" >
                            </div>
                            <br>
                            <div  class="contact-input-divs">
                                <label for="footer-form-mobile" class="contact-label">Mobile Number</label>
                                <input type="text" name ='mobile_number' placeholder="Mobile Number" id="footer-form-mobile" class="contact-inputs">
                            </div>
                            <br>
                            <div  class="contact-input-divs">
                                <label for="footer-form-email" class="contact-label">Email</label> 
                                <input type="text" name ='email' placeholder="Email" id="footer-form-email" class="contact-inputs">
                            </div>
                            <br>
                           <div class="contact-input-divs">
                                <label for="footer-form-qualification" class="contact-label">Qualification</label>
                                <input type="text" name ='Qualification' placeholder="Qualification" id="footer-form-qualification" class="contact-inputs">
                           </div>
                            <br>
                            <div class="contact-input-divs">
                                <label for="footer-form-place" class="contact-label">where are you from</label>
                                <input type="text" name='where' placeholder="Where are you from" id="footer-form-place" class="contact-inputs">
                            </div>
                            <input type="submit" id="submit-btn">
                            <div>
                                {% if errors %}
                                <ul style="color:red; text-decoraton:none;">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
        
                            {% if success %}
                                <p style="color:green;">{{ success }}</p>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                    
                           
                </div>
    
             
           
    </div>
    <div id="copy-right">
        <p>copy-right <i class="fa-regular fa-copyright"></i> 2025 Amora Costa Education and Consultant.All rights Preserved</p>
        </p>
        
    </div>
    </footer>
    <script src='{%static "index.js" %}'></script>
   
        
        
</body>
</html>